#welcome-section {
  height: 100vh;
}

@media screen and (max-width: 600px) {
   #projects {
     background-color: red;
   }
 }
 nav {
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;

 }